.main {
  border-top: 1px solid gray;
  background-color: black;
  font-family: var(--primary-font);
  padding: 4rem 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid ul {
  list-style-type: none;
  color: white;
  padding: 0;
}

/* lists' headers */
.grid ul > :first-child {
  color: blue;
  margin-bottom: 1rem;
}

.grid ul li {
  margin: 0.5rem 0;
}

/* on desktop */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
}

.githubIconBox {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.githubIconBox a img {
  width: 8rem;
}

.githubIconBox a img:hover {
  width: 9rem;
}
