#breadcrumbs {
  font-family: "urbanist", sans-serif;
  color: white;
  margin: 1rem 2rem;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.breadcrumbLinks {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.flexContainer {
  display: flex;
}

.arrowIcon {
  width: 1rem;
}
