.navbarCart {
  position: relative;
  display: grid;
  grid-template-areas: "overlap";
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 1rem;
}

#cartIcon {
  grid-area: overlap;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

#dropdown {
  position: absolute;
  right: 2rem;
  top: 3rem;
  z-index: 1;
}
