#main {
  font-family: var(--primary-font);
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

#main form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-right: 0.1rem solid rgb(92, 92, 92);
  padding-right: 2rem;
  min-height: calc(
    100vh - (4.5rem + 4rem)
  ); /* 4.5rem navbar and 4rem breadcrumbs */
}

.shippingInfo {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  #main {
    grid-template-columns: 1fr;
  }
  #main form {
    width: 100%;
    border: 0;
    min-height: max-content;
    margin-bottom: 2rem;
    padding: 0;
  }
}

#main form h2 {
  color: white;
  margin: 1.5rem 0;
}

#main form input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(92, 92, 92);
  background-color: rgba(128, 128, 128, 0.386);
  /* background-color: rgba(0, 0, 0, 0); */
  color: white;
  margin-top: 0.5rem;
}

#main form input:focus {
  outline: 0;
  border: 0.1rem solid dodgerblue;
}

#main form label {
  color: white;
}

#deliveryOptionsBox {
  display: flex;
  gap: 1rem;
}

#deliveryOptionsBox div {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(92, 92, 92);
  width: 50%;
  display: flex;
  align-items: center;
}

#deliveryOptionsBox div label {
  color: white;
  margin: 0 1rem;
}

#deliveryOptionsBox div input {
  width: max-content;
  margin-top: 0;
}

.personalInfo input {
  margin-bottom: 1rem;
}

#cityStateZip {
  display: flex;
  gap: 1rem;
}

#cityStateZip div {
  flex: 1;
}

#orderDetails {
  justify-items: center;
}
