#breadcrumbs {
  font-family: "urbanist", sans-serif;
  color: white;
  margin: 1rem 2rem;
  display: flex;
  align-items: center;
}

.breadcrumbLinks {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.flexContainer {
  display: inline-flex;
}

.flexContainer p {
  margin: 0;
}

.arrowIcon {
  width: 1rem;
}
