.card {
  text-decoration: none;
}

.name {
  max-width: 20rem;
  background-color: white;
  font-size: 1.5rem;
  font-family: "urbanist", sans-serif;
  color: black;
  padding: 2rem;
  padding-right: 3rem;
  border-radius: 1rem;
  margin: 1.5rem 0;
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 1s,
    transform 1s;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}
