#categoryPage {
  background-color: black;
  display: flex;
  flex-direction: column;
  position: relative;
}

#categoryPage h2 {
  margin: 1rem 2rem;
  color: white;
  font-family: "urbanist", sans-serif;
}

.paginationContainer {
  display: flex;
  justify-content: center;
}
