.card {
  text-decoration: none;
}

.name {
  max-width: 20rem;
  background-color: blue;
  font-size: 1.5rem;
  font-family: "urbanist", sans-serif;
  color: white;
  padding: 1rem;
  padding-right: 3rem;
  border-radius: 0.25rem;
  margin: 1.5rem 0;
}
