.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  justify-items: center;
  align-self: center;
  gap: 2rem;
  margin: 1rem 2rem;
  /* max-width: 64rem; */
}

.emptyListNotice {
  color: white;
  font-family: "urbanist", sans-serif;
}
