#mainBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ordersBox {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loadingMessage,
#errorMessage {
  color: white;
  margin: 1rem;
  font-family: var(--primary-font);
}
