.font {
  font-family: "urbanist", sans-serif;
  color: white;
}

.card {
  height: auto;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.158);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
  cursor: pointer;
}

.title {
  font-size: 1.25rem;
  margin: 0;
  margin-top: 0.5rem;
  cursor: pointer;
}

.category {
  font-size: 0.75rem;
  font-weight: 600;
  margin: 0;
  margin-left: 0.5rem;
  cursor: pointer;
}

.description {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.descriptionPara {
  width: 50%;
  font-size: 0.75rem;
  font-weight: 500;
  color: grey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.priceLabel {
  font-size: 0.75rem;
  margin: 0.25rem 0;
  font-weight: 400;
}

.amount {
  font-size: 1.2rem;
  margin: 0.25rem 0;
  font-weight: 600;
}

.oldPrice {
  text-decoration: line-through;
}

.newPrice {
  color: green;
}

.details {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.linkToProductPage {
  text-decoration: none;
}

.readMore {
  color: white;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 0;
  margin-left: 0.5rem;
}

@media (max-width: 434px) {
  .card {
    width: 80%;
  }
}
