.showPasswordIcon {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 0.5rem;
  top: 0.844rem;
  cursor: pointer;
}

.showPasswordIcon:hover {
  background-color: rgb(81, 79, 79);
  border-radius: 50%;
}
