/* @media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 390px) {
  html {
    font-size: 6px;
  }
} */
