.card {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.card a {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.categoryImg {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 1rem;
  background-color: black;
}

.categoryName {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  font-family: "urbanist", sans-serif;
  color: white;
  background-color: black;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin: 0;
}
