.mainBox {
  display: flex;
  align-items: center;
  border: 0.1rem solid lightgray;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 0.5rem;
  gap: 0.5rem;
}

.img {
  width: 10%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  background-color: lightgray;
  border-radius: 1rem;
}

.title {
  flex: 2;
}

.price {
  flex: 1;
}

.quantity {
  flex: 1;
}

.viewLinkBox {
  flex: 1;
  display: flex;
  justify-content: center;
}

.viewLink {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  background-color: dodgerblue;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.viewLink:hover {
  background-color: rgb(19, 87, 155);
}
