.navbarBtn {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  width: max-content;
  font-family: var(--primary-font);
  color: black;
  background-color: white;
  border-radius: 5rem;
  padding: 0.625em 1.5em;
  font-size: var(--fs-nav);
  cursor: pointer;
  text-decoration: none;
}

.navbarBtn:hover {
  background-color: lightgray;
}
