#navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4.5rem;
  font-family: "urbanist", sans-serif;
}

a {
  text-decoration: none;
}

#logo {
  margin: 0 2rem;
}

#logoMobile {
  margin: auto;
}

#logo h1,
#logoMobile h1 {
  color: blue;
  font-size: var(--fs-h1);
}

#logo:visited,
#logoMobile:visited {
  color: blue;
}
.rightContainer {
  display: flex;
  gap: 0.5rem;
  margin: 0 0.5rem;
}
/* mobile menu */

.mainNavMenuMobile {
  display: flex;
}

.mainNavLstClosed {
  position: absolute;
  transform: translateX(-100%);
  padding: 0.5rem;
  height: 100vh;
}

.mainNavLstOpened {
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 1;
  border-radius: 0.4rem;
  background-color: blue;
  transform: translateX(0);
  transition: transform 0.3s ease;
  padding: 0.5rem;
  height: 100vh;
  min-width: 60%;
}

.mainNavLnkBoxMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  color: white;
  cursor: pointer;
  min-height: 44px;
}

.iconAndNameMenu {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* icon */
.iconAndNameMenu img {
  width: 1.2rem;
  aspect-ratio: 1 / 1;
}

.OpenMenuIconBox {
  margin-left: 1rem;
}

.closeMenuIconBox {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem;
}
