#hero {
  position: relative;
  height: calc(100vh - (4.5rem + 4rem)); /* 4.5rem navbar - 4rem breadcrumbs */
  width: 100%;
  font-family: var(--primary-font);
}

@media (max-width: 768px) {
  #hero {
    height: calc(60vh - (4.5rem + 4rem));
  }
}

.heroCard {
  font-family: inherit;
  height: 100%;
  /* background-image: url("src/assets/images/hero-img-2.jpg"); */
  background-image: url("@/assets/images/hero-img-2.jpg");
  background-size: cover;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-right: 2rem;
  max-width: 25%;
  margin-left: auto;
}

.title {
  color: white;
  font-weight: 600;
  font-size: var(--fs-h1);
}

.shopNowBtn {
  width: max-content;
  max-width: 100%;
  border: 0;
  padding: 1rem 2.5rem;
  color: white;
  background-color: black;
  font-family: inherit;
  cursor: pointer;
  font-size: var(--fs-hero);
  font-weight: 700;
  text-transform: uppercase;
}

.shopNowBtn:hover {
  color: lightgray;
}
