#hero {
  position: relative;
  height: calc(100vh - (4.5rem + 4rem)); /* 4.5rem navbar - 4rem breadcrumbs */
  min-height: fit-content;
  width: calc(100% - 4rem);
  font-family: var(--primary-font);
  margin: 2rem;
}

.heroCard {
  font-family: inherit;
  height: 100%;
  background: 
  /* The lighting overlay: dark edges, dim center */
    radial-gradient(circle, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.85) 80%),
    url("@/assets/images/shopping-hero-img.jpg");
  background-size: cover;
  /* display right side of image (good for mobile) */
  background-position: right;
}

@media (max-width: 768px) {
  #hero {
    height: calc(60vh - (4.5rem + 4rem));
  }
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 2rem;
  max-width: 50%;
  margin-right: auto;
}

.title {
  color: white;
  font-weight: 600;
  font-size: var(--fs-h1);
  filter: brightness(1);
}

.shopNowBtn {
  width: max-content;
  max-width: 100%;
  border: 0;
  padding: 1rem 2.5rem;
  color: white;
  background-color: black;
  font-family: inherit;
  cursor: pointer;
  font-size: var(--fs-hero);
  font-weight: 700;
  text-transform: uppercase;
}

.shopNowBtn:hover {
  color: lightgray;
}
