.card {
  position: relative;
  min-width: calc(50% - 1rem); /* 1rem subtracted for the margin */
  border-radius: 1rem;
  display: flex;
  margin: 0 0.5rem;
}

.img {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  object-fit: cover;
  filter: brightness(80%);
}

.name {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  font-family: var(--primary-font);
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0.2rem 1rem;
}

.shopNowBtn {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  width: max-content;
  border: 0;
  border-radius: 3rem;
  background: rgba(0, 0, 0, 0.4);
  font-family: var(--primary-font);
  font-size: 1rem;
  color: white;
  cursor: pointer;
  padding: 0.2rem 1rem;
}

.shopNowBtn:hover {
  background: black;
}
